;; shadow-cljs configuration
{:deps {:aliases [:shadow]}
 :nrepl {:port 9090}
 :socket-repl {:port 9099}
 :http {:host "watch"}
 :builds
 {:script 
  {:target    :node-script
   :devtools {:devtools-url "http://watch:9630"
              :autoload true
              :ignore-warnings false}
   :main      clariform.core/main
   :output-to "clariform.js"}
  :test
  {:target    :node-test
   :output-to "out/node-tests.js"
   :autorun   true}}}
  
