;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[org.clojure/tools.cli "1.0.206"]
  [instaparse/instaparse "1.4.12"]]

 :builds
 {:script 
  {:target    :node-script
   :main      clariform.core/main
   :output-to "clariform.js"}
  :test
  {:target    :node-test
   :output-to "out/node-tests.js"
   :autorun   true}}}
 
