;; shadow-cljs configuration
{:deps {:aliases [:shadow]}
 :nrepl {:port 9090}
 :socket-repl {:port 9099}
 :builds
 {:script 
  {:target    :node-script
   :devtools {:autoload true
              :ignore-warnings false}
   :main      clariform.core/main
   :dev {:output-to "out/runtime.js"}
   :output-to "clariform.js"}
  :test
  {:target    :node-test
   :output-to "out/node-tests.js"
   :autorun   true}}}
  
